<% content_for :title do %>
  Days Until <%= @one_billion_time.to_formatted_s(:long) %>
<% end %>

<p>
  One Billion Seconds from <%= content_tag(:datetime, @time.to_formatted_s(:long)) %> 
  is <%= content_tag(:datetime, @one_billion_time.to_formatted_s(:long)) %>.
</p>
  
<p>Time from now:</p>

<p><%= content_tag(
  :datetime, 
  distance_of_time_in_words(Time.now.utc, @one_billion_time, { include_seconds: true }), 
  { id: "one_billion_time", datetime: @one_billion_time.iso8601 } 
) %></p
